&spi1 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;

    nice_view: nice_view@0 {
        compatible = "sitronix,st7735r";
        status = "okay";
        reg = <0>;
        spi-max-frequency = <4000000>;
        cmd-data-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
    };
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <0x50011>,  /* MOSI on P0.17 */
                    <0x50014>,  /* SCK on P0.20 */
                    <0x50019>;  /* MISO on P0.25 */
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <0x50011>,
                    <0x50014>,
                    <0x50019>;
            low-power-enable;
        };
    };
};