&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    mosi-pin = <17>;
    sck-pin = <20>;
    miso-pin = <25>;
    cs-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
    
    nice_view: nice_view@0 {
        compatible = "nordic,nrf-spi";
        status = "okay";
        reg = <0>;
        label = "NICE_VIEW";
        spi-max-frequency = <4000000>;
    };
};