&spi1 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;

    nice_view: nice_view@0 {
        compatible = "sitronix,st7735r";
        status = "okay";
        reg = <0>;
        spi-max-frequency = <4000000>;
        cmd-data-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
        width = <160>;
        height = <128>;
        x-offset = <0>;
        y-offset = <0>;
        madctl = <0x08>;
        colmod = <0x55>;
        caset = <0x00 0x00 0x00 0x9f>;
        raset = <0x00 0x00 0x00 0x7f>;
        vmctr1 = <0x0e>;
        invctr = <0x07>;
        pwctr1 = <0xa2 0x02 0x84>;
        pwctr2 = <0xc5>;
        pwctr3 = <0x0a 0x00>;
        pwctr4 = <0x8a 0x2a>;
        pwctr5 = <0x8a 0xee>;
        frmctr1 = <0x01 0x2c 0x2d>;
        frmctr2 = <0x01 0x2c 0x2d>;
        frmctr3 = <0x01 0x2c 0x2d 0x01 0x2c 0x2d>;
        gamctrp1 = <0x02 0x1c 0x07 0x12 0x37 0x32 0x29 0x2d 0x29 0x25 0x2b 0x39 0x00 0x01 0x03 0x10>;
        gamctrn1 = <0x03 0x1d 0x07 0x06 0x2e 0x2c 0x29 0x2d 0x2e 0x2e 0x37 0x3f 0x00 0x00 0x02 0x10>;
    };
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <0x50011>,  /* MOSI on P0.17 */
                    <0x50014>,  /* SCK on P0.20 */
                    <0x50019>;  /* MISO on P0.25 */
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <0x50011>,
                    <0x50014>,
                    <0x50019>;
            low-power-enable;
        };
    };
};